body {
  background-color: #fcecce !important;
}
::selection{
  color: #fa802f;
}
.navbar a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

.bg-body-tertiary {
  background: linear-gradient(89.97deg, hsla(0, 0%, 41%, 0.36) .99%, hsla(0, 0%, 100%, .98) 52.52%, hsla(0, 0%, 41%, 0.36) 100.33%);
  border-bottom: 2px solid rgba(255, 91, 31, 0.13);
}

.navshadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

.form-input {
  position: relative;
  width: 70%;
}

.form-input input::placeholder {
  opacity: 0;
}

.form-input input {
  width: 100%;
  height: 45px;
  font-size: 13px;
  padding: 10px;
  outline: none;
  border: 1px solid #fd9149;
  box-sizing: border-box;
  border-radius: 5px;
  background: rgba(254, 170, 111, 0.10);
  /* z-index: 1; */
}

.form-input label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  color: #302F2F;
  letter-spacing: 1px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  pointer-events: none !important;
}

.form-input input:focus+label,
.form-input input:not(:placeholder-shown)+label {
  top: 0;
  font-size: 13px;
  color: #302F2F;
  background: #fff;
  padding: 7px;
}

.form-input input:focus {
  border: 1px solid #fd9149;
}