.cols {
  position: relative;
  width: 700px;
  margin: 67px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 78px;
}

.table {
  border: 1px solid #d6d6d6;
  border-collapse: collapse;
  margin-top: 5px;
  overflow-x: scroll;
  background-color: #ffffffc0;
}

.th,
.td {
  padding: 5px 15px;
  text-align: left;
  font-size: 13px;
}

.thead th {
  background: #fd9149;
  color: #080808;
  width: 25%;
  padding: 10px 15px;
}

.tbody tr:hover {
  background-color: #fcecce;
}

.delete {
  background-color: red;
  border: none;
  padding: 5px 10px;
  font-size: 13px;
  outline: none;
  border-radius: 7px;
  color: white;
  line-height: normal;
  text-decoration: none;
}

.addSchool {
  background: -webkit-linear-gradient(170deg, #ffd588 0%, #fd9149 100%);
  padding: 10px 27px;
  font-size: 22px;
  margin-top: 17px;
  outline: none;
  border: 0;
  border-radius: 7px;
}

.addSchool:hover {
  background: -webkit-linear-gradient(170deg, #fd9149 0%, #ffd588 100%);
  transform: scale(1.05);
  transition: all .15s ease;
}

.addSchool a {
  color: white;
  text-decoration: none;
}

.update {
  background-color: #2196f3;
  border: none;
  padding: 5px 10px;
  font-size: 13px;
  outline: none;
  border-radius: 7px;
  color: white;
  line-height: normal;
  text-decoration: none;
}

.update a {
  color: white;
  text-decoration: none;
}

.addSchoolCenter {
  text-align: center;
}

.btn__cols {
  display: flex;
  column-gap: 17px;
  padding: 16px 24px;
}