.addform {
  text-align: center;
  background: #fff;
  box-shadow: 0 8px 8px -4px #fd9149;
  position: relative;
  animation-name: translate;
  animation-duration: 3s;
}

@keyframes translate {
  0% {
    top: -500px
  }

  100% {
    top: 0px;
  }
}

.input {
  font-size: 20px;
  text-align: left;
  padding: 10px 10px !important;
  margin: 5px auto;
  width: 100%;
}

.addform button {
  background: -webkit-linear-gradient(170deg, #ffd588 0%, #fd9149 100%);
  /* background-color: #673ab7; */
  padding: 10px 27px;
  font-size: 22px;
  margin-top: 17px;
  outline: none;
  border: 0;
  border-radius: 7px;
  color: white;
  margin-right: 17px;
}

.addform button a {
  color: white;
  text-decoration: none;
}

.addform button:hover {
  background: -webkit-linear-gradient(170deg, #fd9149 0%, #ffd588 100%);
}